// Grand Central Station

@import 'google-homepage';

// First Frame
.guitar {
    transform: translateY(300px) translateX(-200px);
    height: 180px;
    
}

.jukebox {
    transform: translateY(300px) translateX(-200px);
    height: 85px;
}

.jeff {
    transform: translateY(300px) translateX(-200px);
    height: 120px;
}

.neon {
    transform: translateY(300px) translateX(-200px);
    height: 85px;
}

