// Grand Central Station

@import 'google-homepage';
body {
    background: white;
}

#stage {
    background: white;
}


// First Frame
.guitar {
    transform: translateY(50px) translateX(-300px);
    height: 180px;
    
}

.jukebox {
    transform: translateY(50px) translateX(-300px);
    height: 85px;
}

.jeff {
    transform: translateY(-75px) translateX(110px);
    height: 120px;
}


.neon {
    transform: translateY(-90px) translateX(115px);
    height: 85px;
}

.le {
    transform: translateY(-70px) translateX(120px);
    height: 140px;
}

